*{
	margin: 0px;
	padding: 0px;
}

body { 
	font-family: 'Lato', sans-serif;
	max-width: 1440px;
	display: flex;
	margin: 0px auto;
}

.menu{
	width: 132px;
	height: 853px;
	background: #000000;
	border-radius: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-left: 32px;
	margin-top: 24px;
	box-shadow: 20px 0px 30px 0px rgba(0,0,0,0.3);
}

.menu ul{
	list-style-type: none;
	padding: 0px;
}

.nav-menu li{
	padding: 25px 0px;
}
.header-container{
	display: flex;
	flex-direction: column;
	margin-top: 55px;
	margin-left: 50px;
}

.hello{
	width: 620px;
	height: 160px;
	background: #F5F5F7;
	border-radius: 14px;
	display: flex;
	position: relative;
}

.hello-text{
	padding-top: 46px;
	padding-left: 31px; 
}

.josh {
	font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 57px;
color: #000000;
}

.josh-p{
	font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #000000;
}

.hello img{
	position: absolute;
	bottom: 0px;
	right: 10%;

}

.course{
	width: 620px;
	height: 80px;
	display: flex;
	padding-top: 24px;
}
.grey-section{
	background: #F5F5F7;
	border-radius: 14px;
	width: 500px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.white-block{
	width: 64px;
	height: 64px;
	background: #FFFFFF;
	border-radius: 12px;
	position: relative;
	margin-left: 15px;
}
.white-block img{
	position: absolute;
	top: 25%;
	left: 25%;
	
}

.course-text h4{
	font-size: 16px;
	line-height: 26px;
	color: #000000;
}

.percent{
	position: relative;
}

#peri{
	display: inline-block;
	position: absolute;
	top: 30%;
	left: 20%;
}

.course-button{
	width: 120px;
	height: 40px;
	background: #000000;
	border-radius: 8px;
	font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 15px;
color: #FFFFFF;
cursor: pointer;
margin-right: 30px;
border: none;
}

.arrows{
	display: flex;
	align-items: center;
}

#arrowl{
	padding: 0px 15px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++*/

.courses-container{
	width: 620px;
	margin-top: 35px;
}

.grey-section-c{
	background: #F5F5F7;
	border-radius: 14px;
	width: 620px;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 16px;
}

.flex-container{
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	padding-right: 200px;
}

#courses{
font-size: 24px;
line-height: 38px;
color: #000000;
}


.flex-container h4{
	font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #000000;
}

a{
	text-decoration: none;
}
.flex-container h4:not(#allcourse){
	opacity: 0.3;
}
.clock img, .fire img{
	float: left;
	padding-right: 5px;
	padding-top: 2px;
}

.course-text{
	width: 150px;
}

span, .course-text p{
	
	font-size: 13px;
	line-height: 15px;
	color: #000000;
}
/*===========================================================*/
.nav-top{
	display: flex;
}
.nav-top ul{
	list-style-type: none;
	display: flex;
}

input{
	width: 260px;
	height: 40px;
	background: #F5F5F7;
	border-radius: 8px;
	border: none;
	background: url("img/search.svg") 15px center no-repeat, #F5F5F7;
	padding-left: 40px;
}

#firstli{
	padding-left: 35px;
	padding-right: 20px;
	position: relative;
}
#firstli .bell{
	position: absolute;
	left: 35px;
	top: 9px;
}

#firstli .red{
	position: absolute;
	left: 50px;
	z-index: 10;
	top: 1px;
}

#firstli .one{
	position: absolute;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 22px;
	color: #FFFFFF;
	left: 55px;
	z-index: 100;
	top: -2px;
} 

.profile{
	padding-left: 30px;
}

.nav-top ul::after{
	content: url("img/arrow-profile.svg");
	padding: 8px;
	cursor: pointer;
	height: 30px;
}

.main-container{
	display: flex;
	flex-direction: column;
	margin-top: 55px;
	margin-left: 65px;
}

.stats{
	display: flex;
	justify-content: space-between;
	padding-top: 23px;
}
.stats-box{
	width: 208px;
	height: 93px;
	background: #F5F5F7;
	border-radius: 14px;
	align-items: center;
	justify-content: center;
	display: flex;
}

h1{
	font-weight: bold;
	font-size: 64px;
	line-height: 102px;
	color: #000000;
}

.stats-box p{
	font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #000000;
padding-left: 15px;
}

.statistics{
	padding-top: 30px;
}

.statistics h3{
font-weight: bold;
font-size: 24px;
line-height: 38px;
color: #000000;
}

.flex-stats{
	display: flex;
	justify-content: space-between;
	padding-top: 17px;
}

.weekly-butt{
	cursor: pointer;
	background: #F5F5F7;
	border-radius: 8px;
	width: 88px;
	height: 32px;
	border: none;
	outline: none;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 15px;
	color: #000000;
	padding-left: 10px;
}

.flex-stats h4{
	font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #000000;
}

#my-opac{
	opacity: 0.3;
	padding-right: 60px;
	margin-right: 60px;
}

.graph{
	padding-top: 32px;
}

.more{
	margin-top: 50px;
	height: 193px;
	display: flex;
	background: #F5F5F7;
	border-radius: 14px;
	align-items: center;
	justify-content: space-around;
}

.more-text h3{
	font-weight: bold;
	font-size: 24px;
	line-height: 38px;
	color: #000000;

}

.more-text p{
	padding-top: 12px;
	padding-bottom: 24px; 
}

#brain{
	padding-right: 40px;
}